# Google Gemini AI Configuration
GEMINI_API_KEY= your_gemini_api_key
API_KEY= your_gemini_api_key
GROQ_API_KEY=your_groq_api_key_here

# Azure Cosmos DB Configuration
# For local development with Cosmos DB Emulator:
COSMOS_ENDPOINT= endpoint
COSMOS_KEY= your_cosmos_key

COSMOS_DATABASE_NAME=adapta
COSMOS_USERS_CONTAINER=users
COSMOS_ONBOARDING_CONTAINER=onboarding

# Server Configuration
PORT=3001
APPLICATIONINSIGHTS_CONNECTION_STRING=your_connection_string_here
